
.day-view-column-cells {
    display: flex;
    justify-content: space-evenly;
}

.day-view-column {
    &-cells {
        position: relative;
        height: 100%;
    }
    &-cell {
        width: 100%;
        border-bottom: solid 1px #e1e1e1;
        text-align: center;
        min-height: 30px;
    }
}

