<div class="cal-week-view" role="grid">
    <div #headers class="day-view-column-headers">
        <div #column class="day-view-column-header" *ngFor="let user of view?.users">
            {{ user.name }}
            <div class="divider"></div>
        </div>
    </div>
    <div class="cal-time-events" mwlDroppable (dragEnter)="dragEnter('time')" (dragLeave)="dragLeave('time')">
        <div class="cal-day-columns" [class.cal-resize-active]="timeEventResizes.size > 0" #dayColumns>
            <div class="cal-day-columns" [class.cal-resize-active]="timeEventResizes.size > 0" #dayColumns>
                <div class="cal-day-column" *ngFor="let column of view.hourColumns; trackBy: trackByHourColumn">
                    <div *ngFor="let hour of column.hours; trackBy: trackByHour; let odd = odd" class="cal-hour" [class.cal-hour-odd]="odd">
                        <app-time-segment
                            [segments]="hour.segments"
                            [users]="view?.users"
                        ></app-time-segment>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
